<h1>Fav Flop</h1>
<div class="container">
  <div class="poster-div" id="ava">
    <img class="poster" src="/assets/Ava.jpg">
    <p class="chosen" [hidden]=hideElement(1)>Chosen!</p>
    <button (click)="onClick(1)" [disabled]=disableButton(1)>{{getButtonText(1)}}</button>
  </div>

  <div class="poster-div" id="out-death">
    <img class="poster" src="/assets/OutDeath.jpg">
    <p class="chosen" [hidden]=hideElement(2)>Chosen!</p>
    <button (click)="onClick(2)" [disabled]=disableButton(2)>{{getButtonText(2)}}</button>
  </div>

  <div class="poster-div" id="jonah-hex">
    <img class="poster" src="/assets/JonahHex.jpg">
    <p class="chosen" [hidden]=hideElement(3)>Chosen!</p>
    <button (click)="onClick(3)" [disabled]=disableButton(3)>{{getButtonText(3)}}</button>
  </div>

  <div class="poster-div" id="kate">
    <img class="poster" src="/assets/Kate.jpg">
    <p class="chosen" [hidden]=hideElement(4)>Chosen!</p>
    <button (click)="onClick(4)" [disabled]=disableButton(4)>{{getButtonText(4)}}</button>
  </div>

  <div class="poster-div" id="john-carter">
    <img class="poster" src="/assets/JohnCarter.png">
    <p class="chosen" [hidden]=hideElement(5)>Chosen!</p>
    <button (click)="onClick(5)" [disabled]=disableButton(5)>{{getButtonText(5)}}</button>
  </div>

  <div class="poster-div" id="free-guy">
    <img class="poster" src="/assets/FreeGuy.jpeg">
    <p class="chosen" [hidden]=hideElement(6)>Chosen!</p>
    <button (click)="onClick(6)" [disabled]=disableButton(6)>{{getButtonText(6)}}</button>
  </div>
</div>